*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 300ms ease;
}

body{
    background-color: #383434f5;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 2rem;
    height: calc(100vh - 9.5rem);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.123);
}
.deploi{
    width: 10rem;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contenue{
    padding: 30px;
}
.sidebar-menu a{
    margin: 10px;
    color: #141313;
    font-weight: bold;
    font-size: 20px;
}
.clicked{
    display: inline-block;
    background-color: rgb(40, 121, 228);
    padding: 10px;
    color: aqua;
    border-radius: 10px;
    text-align: center;
    width: 10rem;
}
.btn{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    color: #914906;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}
.btn span{
    margin-left: 20px;
    
}
.btn.clik{
    background-color: rgb(160, 160, 179);
    width: 20rem;
    padding-right: 100rem;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(160, 160, 179);
    cursor: pointer;
    border-radius: 10px;
    width: 20rem;
    padding-right: 100rem;
}
.menu{
    background: none;
    border: none;
    cursor: pointer;
}
.bar{
    height: 4px;
    width: 20px;
    background: #fffefd;
    margin-top: 6px;
    border-radius: 20px;
}
.menu .croix{
    transform: rotate(-45deg);
    position: absolute;
}
.menu .croix-2{
    transform: rotate(45deg);
}


@media screen and (max-width:600px){
    .bar{
        height: 4px;
        width: 30px;
        margin-top: 5px;


     }
}